@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    background-color: var(--color-root);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
    font-family: "Inter", sans-serif;
}

@theme {
    --color-root: #0d1117;
    --color-primary: #161b22;
    --color-color-border: #30363d;
}
